In [1]:
# Make sure to also output the intermediary steps
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Auto-Cleaning Dirty Data: the Data Encoding Bot

[2IMM00] Seminar Data Mining
<br>
Angelo Majoor - 1030843
<br>
A.R.Majoor@student.tue.nl

Supervisor: dr. ir. J. (Joaquin) Vanschoren

Eindhoven University of Technology
<br>
Department of Mathematics and Computer Science
<br>
Data Mining Research Group

In [2]:
# Import all relevant libraries
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import random

from nltk.corpus import wordnet as wn

import openml as oml
oml.config.apikey = '2d4efc0fbf4c75a890be14297c5ec1e4'
import sklearn

### The three different steps

As stated in the report, the process of creating the data encoding bot consists of three different steps:

 - Auto-detecting data types per feature (column)
 - Auto-detecting numeric, ordinal, categorical (integer) features
 - Auto-selecting encoding techniques for all features

## Step 0: Import the Data

In [153]:
#raw_data = pd.read_csv("ENTER_YOUR_CSV_FILE_NAME_HERE")
raw_data = pd.read_csv("Data/wine_mag.csv")
raw_data.head()
raw_data.dtypes

#raw_energy = pd.read_csv("Data/energy_train_copy.csv")
#raw_energy.head()
#raw_energy.dtypes

#raw_weather = pd.read_csv("Data/weather_train_copy.csv")
#raw_weather.head()
#raw_weather.dtypes

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

Unnamed: 0       int64
country         object
description     object
designation     object
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

## Step 1: Auto-Detecting Data Types

In [157]:
# Function to automatically infer data types for a specific feature that has the standard 'object' data type
# Data types that we want to infer: boolean, date, float, integer, string
# Note that every feature that is not either a boolean, a date, a float or an integer, is classified as a string
# Input: Pandas Dataframe consisting of one single feature (so n*1 in size)
# Output: Data type of the feature (in string format)

def autoInferObject(raw_data_feature):
    dataType = ""
    types = ["date","float64","int64","string"] #Data types
    weights = [0,0,0,0] #Weights corresponding to the data types
    numberOfIndices = 100 # umber of different values to check in a feature
    
    featureLength = len(raw_data_feature) #Number of rows in the feature
    
    randomIndices = random.sample(range(0,featureLength), min(numberOfIndices,featureLength)) #Array of random indices
    
    # If the feature only contains two different unique values, then infer it as boolean
    if len(pd.unique(raw_data_feature)) == 2:
        dataType = "bool"
    else:
        for i in randomIndices:
            try:
                if (len(raw_data_feature[i]) <= 10 
                    and ((raw_data_feature[i][2:3] == ('-' or '/') and raw_data_feature[i][5:6] == ('-' or '/')) or 
                    (raw_data_feature[i][4:5] == ('-' or '/') and raw_data_feature[i][7:8] == ('-' or '/')))):
                    weights[0] += 1 #Date
                else:
                    weights[3] += 1 #String
            except (TypeError,ValueError,IndexError):
                try:
                    int(raw_data_feature[i])
                    if ('.' in str(raw_data_feature[i])):
                        weights[1] += 1 #Float
                    else:
                        weights[2] += 1 #Integer
                except (TypeError,ValueError,IndexError):
                    weights[3] += 1 #String
    
        #print ("Date: {}, Float64: {}, Int64: {}, String: {}".format(weights[0],weights[1],weights[2],weights[3])) #For debugging purposes
        dataType = types[weights.index(max(weights))]
        
    return dataType

In [158]:
# Function to automatically infer data types for every single feature in a raw data set
# Input: Pandas Dataframe created directly from the raw data with the pd.read_csv function
# Output: List of data types, one data type for each feature

def autoDetectDataTypes(raw_data):
    result = []
    
    for column in raw_data:
        if raw_data.dtypes[column] == "object":
            #print ("Trying to automatically infer the data type of the",column,"feature...") #For debugging purposes
            inferredType = autoInferObject(raw_data[column])
            result.append(inferredType)
            #print ("Result:",inferredType) #For debugging purposes
            # Auto-infer in step 1
        elif raw_data.dtypes[column] == "int64":
            result.append("int64")
            # Go to step 2
        else:
            # The only remaining data type is 'float64', which needs no special treatment
            result.append("float64")
        
    return result

In [181]:
predicted = autoDetectDataTypes(raw_data)
print ("\nPredicted data types:\n",predicted)

Predicted data types:
 ['int64', 'string', 'string', 'string', 'int64', 'float64', 'string', 'string', 'string', 'string', 'string']

### Testing the accuracy of the implemented solution

In [162]:
# Manually check for the ground truth, since a dirty data set has no ground truth included

#ground_truth_energy = ['date', 'string', 'int64', 'float64', 'float64', 'int64', 'float64']
#ground_truth_weather = ['string', 'float64', 'float64', 'float64', 'float64', 'string', 'float64', 'float64', 'float64']
#ground_truth_TED = ['int64', 'string', 'int64', 'string', 'int64', 'int64', 'string', 'string', 'int64', 'int64', 'string', 'string', 'string', 'string', 'string', 'string', 'int64']
#ground_truth_wine = ['int64', 'string', 'string', 'string', 'int64', 'float64', 'string', 'string', 'string', 'string', 'string']

ground_truth

['int64',
 'string',
 'string',
 'string',
 'int64',
 'float64',
 'string',
 'string',
 'string',
 'string',
 'string']

In [163]:
# Function to calculate an accuracy score for the implemented solution
# Input: Array containing the (self-made) ground truth
#        Array containing the predicted data types
# Output: Accuracy score based on the number of correct predictions

def score(ground_truth, predicted):
    correctPredictions = 0
    
    for i in range(0,len(ground_truth)):
        if ground_truth[i] == predicted[i]:
            correctPredictions += 1
        
    return correctPredictions / len(ground_truth)

In [164]:
print ("Accuracy:",score(ground_truth, predicted)*100,"%")

Accuracy: 100.0 %

### Results

In [165]:
scoreResults = [("Solar Panel Energy Production Eindhoven",100.0,"https://canvas.tue.nl/files/508283"), \
                ("Weather Measurements Eindhoven Airport",100.0,"https://canvas.tue.nl/files/508283"), \
                ("TED Talks",100.0,"https://www.kaggle.com/rounakbanik/ted-talks"), \
                ("Wine Reviews",100.0,"https://www.kaggle.com/zynicide/wine-reviews")]
pd.DataFrame(scoreResults, columns=["Data Set", "Accuracy", "Retrieved From"])

,Data Set,Accuracy,Retrieved From
0,Solar Panel Energy Production Eindhoven,100.0,https://canvas.tue.nl/files/508283
1,Weather Measurements Eindhoven Airport,100.0,https://canvas.tue.nl/files/508283
2,TED Talks,100.0,https://www.kaggle.com/rounakbanik/ted-talks
3,Wine Reviews,100.0,https://www.kaggle.com/zynicide/wine-reviews

### Flaws

 - Whenever a feature is recognized as integer by the read_csv() function, this feature cannot be a boolean anymore. This can simply be solved by adding a check for the number of unique elements in the 'autoDetectDataTypes()' function, in the 'elif' branch (where the function checks for int64's).
 - Dates that are represented as integers cannot be detected, since it is unknown whether a value represents a date, or an actual number.

## Step 1 Completed --------------------------------------------------

## Step 2: Numeric, Categorical or Ordinal Data?

In [47]:
# Load the OpenML100 data set
benchmark_suite = oml.study.get_study('OpenML100','tasks')

list_task_ids = []

# Find all task_ids
for task_id in benchmark_suite.tasks:
    list_task_ids.append(task_id)
    task = oml.tasks.get_task(task_id)
    print (task.get_dataset().name)

#list_task_ids

kr-vs-kp
letter
balance-scale
mfeat-factors
mfeat-fourier
breast-w
mfeat-karhunen
mfeat-morphological
mfeat-pixel
car
mfeat-zernike
cmc
mushroom
optdigits
credit-approval
credit-g
pendigits
segment
diabetes
soybean
spambase
splice
tic-tac-toe
vehicle
waveform-5000
electricity
satimage
eucalyptus
sick
vowel
isolet
scene
monks-problems-1
monks-problems-2
monks-problems-3
JapaneseVowels
synthetic_control
irish
analcatdata_authorship
analcatdata_dmft
profb
collins
mnist_784
sylva_agnostic
gina_agnostic
ada_agnostic
mozilla4
pc4
pc3
jm1
kc2
kc1
pc1
KDDCup09_churn
KDDCup09_upselling
MagicTelescope
adult
wilt
wdbc
micro-mass
phoneme
one-hundred-plants-margin
one-hundred-plants-shape
one-hundred-plants-texture
qsar-biodeg
wall-robot-navigation
semeion
steel-plates-fault
tamilnadu-electricity
hill-valley
ilpd
madelon
nomao
ozone-level-8hr
cardiotocography
climate-model-simulation-crashes
cnae-9
eeg-eye-state
first-order-theorem-proving
gas-drift
banknote-authentication
blood-transfusion-service-center
artificial-characters
bank-marketing
Bioresponse
cjs
cylinder-bands
GesturePhaseSegmentationProcessed
har
Internet-Advertisements
PhishingWebsites
MiceProtein
Amazon_employee_access
dresses-sales
LED-display-domain-7digit
texture
Australian
connect-4
higgs
SpeedDating

In [53]:
trial = oml.tasks.get_task(list_task_ids[3])
print (trial.get_dataset().name)

X, y = trial.get_X_and_y()
for i in range (0,5):
    print (X[i])
    print (y[i])

mfeat-factors
[   98.   236.   531.   673.   607.   647.     2.     9.     3.     6.
     8.     5.   225.   517.   652.   624.   628.   994.     7.    22.
    28.    13.    10.    19.   305.   481.   667.   663.  1009.   727.
    38.    28.    18.    11.    20.    10.   287.   567.   651.   742.
   824.   900.    26.    34.    30.     8.    16.    13.   248.   556.
   631.   796.   926.   748.    39.    34.    18.     9.    17.    12.
   248.   540.   506.   814.  1051.   728.    38.    28.     5.    13.
    16.     8.   246.   518.   751.   579.   699.  1062.    13.    30.
    28.    10.    16.    16.   276.   344.   682.   500.   709.   916.
    10.    30.    23.    17.    15.    14.   357.   435.   829.   610.
   745.   994.    20.     7.    24.    12.    10.     9.   355.   409.
   477.   886.   976.   723.    30.    24.    14.     7.     7.     8.
   290.   352.   435.   753.   894.   751.    29.    29.     2.    13.
    13.    14.   260.   286.   562.   698.   665.   757.    11.     8.
    15.    14.     9.     9.   238.   292.   586.   698.   733.   707.
     9.     6.    15.    11.    10.    16.   294.   406.   654.   644.
   741.  1000.    18.    23.    17.     9.    20.    11.   302.   418.
   561.   709.   961.   776.    21.    25.    12.    12.    19.    10.
   360.   328.   607.   984.  1186.   599.    29.     7.    14.     6.
     9.     9.   362.   314.   924.   733.   601.  1216.     4.     8.
    20.    10.     9.     5.   251.   421.   474.   536.   628.   632.
    18.    36.     8.    15.    12.    13.]
0
[  121.   193.   607.   611.   585.   665.     7.     9.     2.     4.
     3.     7.   214.   514.   690.   548.   630.  1006.     2.    18.
    31.    15.     5.    15.   260.   344.   655.   605.   993.   743.
    29.    32.    25.    11.    17.     6.   308.   412.   719.   700.
   784.   902.    31.    32.    37.     8.    13.    15.   259.   429.
   699.   758.   900.   762.    34.    30.    25.     9.    14.    10.
   207.   445.   558.   784.  1037.   750.    29.    30.    12.    11.
    17.     6.   199.   427.   791.   553.   707.  1074.    10.    26.
    31.    12.    17.    10.   253.   345.   726.   440.   731.   932.
     7.    26.    30.    19.    10.    12.   326.   452.   795.   540.
   701.  1012.    17.     7.    31.    12.    11.    11.   320.   264.
   563.   796.   972.   741.    29.    20.    17.     7.     8.     6.
   243.   255.   467.   711.   896.   769.    26.    25.     9.     9.
    12.    10.   265.   171.   648.   626.   687.   777.    16.    10.
    12.    10.     4.     5.   279.   269.   634.   628.   737.   727.
    14.    10.    12.    13.     5.    14.   253.   317.   680.   614.
   755.  1016.    15.    19.    24.    11.    17.    11.   255.   321.
   617.   651.   979.   792.    20.    29.    19.     8.    18.     8.
   351.   249.   687.   922.  1194.   617.    26.    11.    11.     4.
    10.     7.   347.   439.   950.   675.   577.  1222.    13.     6.
    27.    10.    10.     3.   224.   354.   520.   458.   570.   634.
    15.    32.    11.    13.    15.    11.]
0
[  115.   141.   590.   605.   557.   627.    12.     6.     3.     3.
     5.     4.   196.   404.   611.   560.   594.   986.     7.    21.
    28.    14.     7.    12.   278.   406.   670.   579.   991.   703.
    24.    29.    18.    12.    19.     9.   378.   468.   668.   654.
   786.   900.    32.    31.    28.    11.    17.    12.   299.   495.
   650.   698.   902.   726.    29.    31.    18.    12.    16.     5.
   249.   389.   465.   722.  1033.   704.    24.    27.     5.    12.
    17.    11.   229.   377.   700.   483.   675.  1056.     5.    29.
    28.    11.    17.    15.   247.   309.   645.   444.   697.   898.
     6.    29.    21.    18.    12.     7.   312.   328.   774.   550.
   689.   980.    14.     6.    20.    11.     9.     6.   360.   294.
   568.   790.   956.   733.    24.    23.    18.     6.     8.    11.
   235.   259.   436.   665.   876.   719.    21.    28.     0.    10.
    14.    13.   253.   111.   653.   638.   653.   737.    17.     9.
    15.    11.     6.    10.   297.   185.   637.   638.   715.   677.
     9.     9.    15.    12.     7.     9.   271.   335.   591.   542.
   719.   970.    10.    22.    13.    12.    19.     6.   293.   335.
   536.   613.   943.   746.    15.    26.    10.     9.    20.    13.
   415.   323.   672.   896.  1168.   595.    21.     8.    14.     3.
    10.    12.   343.   365.   877.   663.   547.  1192.    18.     7.
    20.    13.    10.     2.   196.   348.   535.   498.   572.   656.
    20.    35.    16.    14.    13.     6.]
0
[   90.   122.   627.   692.   607.   642.     0.     6.     4.     5.
     3.     5.   201.   445.   664.   629.   626.   945.     5.    21.
    27.    16.     7.     9.   273.   397.   703.   662.   987.   710.
    36.    29.    21.     8.    15.    10.   331.   459.   731.   765.
   818.   865.    24.    29.    33.     9.    15.    11.   256.   510.
   707.   801.   900.   735.    37.    29.    21.    10.    16.     2.
   246.   438.   534.   817.  1031.   721.    36.    27.     8.    10.
    15.     8.   248.   390.   767.   586.   693.  1013.    11.    29.
    27.    13.    15.    12.   278.   312.   702.   509.   707.   873.
     8.    29.    26.    18.     8.     8.   361.   347.   831.   631.
   739.   955.    18.     8.    27.    13.    13.     9.   369.   293.
   589.   879.   962.   718.    28.    23.    13.     8.    10.     8.
   268.   364.   449.   754.   884.   728.    27.    28.     5.     8.
    10.    14.   232.   172.   674.   713.   663.   722.     9.     9.
    14.     9.     2.     9.   244.   202.   682.   719.   725.   684.
     7.     9.    16.    14.     5.     6.   260.   412.   640.   651.
   735.   973.    16.    22.    20.    12.    15.     3.   276.   416.
   601.   712.   959.   757.    19.    26.    15.     7.    16.    10.
   380.   354.   711.   987.  1180.   606.    27.     8.    15.     5.
    12.     9.   400.   358.   918.   756.   603.  1171.     6.     7.
    23.    11.    12.     5.   263.   419.   576.   549.   628.   621.
    16.    35.     7.    12.    15.     9.]
0
[  1.57000000e+02   1.67000000e+02   6.81000000e+02   6.66000000e+02
   5.87000000e+02   6.66000000e+02   8.00000000e+00   6.00000000e+00
   1.00000000e+00   4.00000000e+00   5.00000000e+00   5.00000000e+00
   2.12000000e+02   3.86000000e+02   7.40000000e+02   6.13000000e+02
   6.14000000e+02   9.97000000e+02   5.00000000e+00   2.10000000e+01
   3.00000000e+01   1.10000000e+01   7.00000000e+00   1.70000000e+01
   2.48000000e+02   3.90000000e+02   7.03000000e+02   6.62000000e+02
   9.49000000e+02   7.44000000e+02   2.80000000e+01   2.90000000e+01
   2.00000000e+01   1.30000000e+01   1.90000000e+01   1.00000000e+01
   2.44000000e+02   4.68000000e+02   7.97000000e+02   7.43000000e+02
   7.50000000e+02   9.09000000e+02   3.20000000e+01   2.90000000e+01
   3.20000000e+01   1.00000000e+01   1.50000000e+01   1.10000000e+01
   2.31000000e+02   4.79000000e+02   7.73000000e+02   7.99000000e+02
   8.50000000e+02   7.69000000e+02   3.70000000e+01   2.90000000e+01
   2.00000000e+01   1.10000000e+01   1.40000000e+01   1.00000000e+01
   1.89000000e+02   3.61000000e+02   6.20000000e+02   8.19000000e+02
   9.95000000e+02   7.43000000e+02   3.20000000e+01   2.70000000e+01
   7.00000000e+00   1.50000000e+01   1.70000000e+01   8.00000000e+00
   1.83000000e+02   3.65000000e+02   8.51000000e+02   5.88000000e+02
   7.01000000e+02   1.06300000e+03   1.30000000e+01   2.90000000e+01
   3.00000000e+01   8.00000000e+00   1.70000000e+01   1.40000000e+01
   2.57000000e+02   2.37000000e+02   7.82000000e+02   5.01000000e+02
   7.15000000e+02   9.25000000e+02   1.00000000e+01   3.10000000e+01
   2.50000000e+01   1.50000000e+01   1.20000000e+01   1.20000000e+01
   3.14000000e+02   3.34000000e+02   8.47000000e+02   5.99000000e+02
   6.89000000e+02   1.00300000e+03   1.60000000e+01   8.00000000e+00
   2.60000000e+01   8.00000000e+00   9.00000000e+00   1.30000000e+01
   3.10000000e+02   3.00000000e+02   6.33000000e+02   8.71000000e+02
   9.36000000e+02   7.52000000e+02   3.20000000e+01   2.30000000e+01
   1.60000000e+01   7.00000000e+00   8.00000000e+00   8.00000000e+00
   2.57000000e+02   2.33000000e+02   5.11000000e+02   7.56000000e+02
   8.60000000e+02   7.58000000e+02   2.90000000e+01   3.00000000e+01
   4.00000000e+00   1.10000000e+01   1.40000000e+01   1.40000000e+01
   2.65000000e+02   1.37000000e+02   7.18000000e+02   6.87000000e+02
   6.71000000e+02   7.68000000e+02   1.70000000e+01   9.00000000e+00
   1.30000000e+01   1.00000000e+01   6.00000000e+00   9.00000000e+00
   2.53000000e+02   1.69000000e+02   7.04000000e+02   6.87000000e+02
   7.07000000e+02   7.14000000e+02   1.50000000e+01   9.00000000e+00
   1.30000000e+01   9.00000000e+00   7.00000000e+00   1.40000000e+01
   2.51000000e+02   2.83000000e+02   7.14000000e+02   6.51000000e+02
   7.33000000e+02   1.00900000e+03   1.80000000e+01   2.20000000e+01
   1.90000000e+01   7.00000000e+00   1.90000000e+01   9.00000000e+00
   2.39000000e+02   2.81000000e+02   6.85000000e+02   7.16000000e+02
   9.55000000e+02   7.85000000e+02   2.30000000e+01   2.60000000e+01
   1.40000000e+01   8.00000000e+00   2.00000000e+01   6.00000000e+00
   3.37000000e+02   3.03000000e+02   7.63000000e+02   9.89000000e+02
   1.15600000e+03   6.28000000e+02   2.90000000e+01   8.00000000e+00
   1.20000000e+01   2.00000000e+00   1.00000000e+01   7.00000000e+00
   3.21000000e+02   3.37000000e+02   9.88000000e+02   7.26000000e+02
   5.77000000e+02   1.22500000e+03   1.40000000e+01   7.00000000e+00
   2.20000000e+01   8.00000000e+00   1.00000000e+01   5.00000000e+00
   2.76000000e+02   3.42000000e+02   5.94000000e+02   5.25000000e+02
   5.68000000e+02   6.53000000e+02   1.60000000e+01   3.50000000e+01
   1.00000000e+01   1.50000000e+01   1.30000000e+01   1.30000000e+01]
0

In [170]:
# Function to check if a feature contains categorical data, specifically concerning strings
# If a feature contains at most 25 unique elements, this feature is always considered as categorical
# If a feature contains between 26 and k (where k is user specified) unique values, then the function 
# calculates a similarity score between all of the different values. If this score is higher than 0.70 
# a feature is also considered to be categorical (since the values at least have some relationship).
# Input: Pandas Dataframe consisting of one single feature (so n*1 in size)
#        A user-determined value k (the critical value: more than k unique values cannot be categorical)
# Output: A boolean stating whether the supplied feature is categorical or not

def autoCheckCategoricalString(raw_data_feature, k):
    categorical = False
    
    allWords = pd.unique(raw_data_feature) #All unique strings in the feature
    similarityScores = []
    
    if (len(allWords) <= 25): #If there are less than 25 unique strings, it is categorical
        categorical = True
        
    elif (len(allWords) <= k): #Else if there are less than k unique strings, execute the following code
        
        for i in range(0,len(allWords)-2):
            for j in range(i+1,len(allWords)-1):
                if (pd.isnull(allWords[i])): #If a string has no value (NaN), turn it into some nonsense
                    allWords[i] = "abcdef"
                elif (pd.isnull(allWords[j])):
                    allWords[j] = "abcdef"
            
                word_1 = wn.synsets(allWords[i])
                word_2 = wn.synsets(allWords[j])
            
                if (word_1 != [] and word_2 != []): #Calculate similarity between two non-empty words
                    similarity = wn.wup_similarity(word_1[0], word_2[0])
                    #print ("Similarity between",word_1[0],"and",word_2[0],":",similarity) #For debugging purposes
                    similarityScores.append(similarity)
        
        # Use this part of the code if you do not want to calculate a similarity score between
        # every single string, but only every string with one single other string.
        #
        #for i in range(0,len(allWords)-1):
        #    if (pd.isnull(allWords[i])):
        #        allWords[i] = "abcdef"
        #    elif (pd.isnull(allWords[i+1])):
        #        allWords[i+1] = "abcdef"
        #    
        #    word_1 = wn.synsets(allWords[i])
        #    word_2 = wn.synsets(allWords[i+1])
        #    
        #    if (word_1 != [] and word_2 != []):
        #        similarity = wn.wup_similarity(word_1[0], word_2[0])
        #        print ("Similarity between",word_1[0],"and",word_2[0],":",similarity)
        #        similarityScores.append(similarity)
    
        #print ("Similarity Scores:\n",similarityScores) #For debugging purposes
        print ("Mean Similarity Score:",np.mean(similarityScores))
    
        if (np.mean(similarityScores) > 0.70): #0.70 = Critical similarity value
            categorical = True
    
    print ("Categorical Feature?",categorical)
    
    return categorical

In [171]:
autoCheckCategoricalString(raw_data["country"],50)

Mean Similarity Score: 0.737473869897
Categorical Feature? True

True

In [172]:
def autoCheckCategoricalInt(raw_data_feature, k):
    categorical = False
    
    if (len(pd.unique(raw_data_feature)) <= k):
        categorical = True

    return categorical

In [182]:
def autoCheckCategoricals(raw_data,predicted,k):
    
    print ("Checking if any of the features has categorical data...")
    
    for j in range(0,len(predicted)):
        if (predicted[j] == 'int64'):
            if (autoCheckCategoricalInt(raw_data.iloc[:,j],k)):
                predicted[j] = 'cat_int64'
        elif (predicted[j] == 'string'):
            if (autoCheckCategoricalString(raw_data.iloc[:,j],k)):
                predicted[j] = 'cat_string'
                
    return predicted

In [183]:
predicted = autoCheckCategoricals(raw_data,predicted,50)
print ("\nPredicted data types:\n",predicted)

Checking if any of the features has categorical data...
Mean Similarity Score: 0.737473869897
Categorical Feature? True
Categorical Feature? False
Categorical Feature? False
Categorical Feature? False
Categorical Feature? False
Categorical Feature? True
Categorical Feature? False
Categorical Feature? False

Predicted data types:
 ['int64', 'cat_string', 'string', 'string', 'cat_int64', 'float64', 'string', 'string', 'cat_string', 'string', 'string']

In [117]:
#nltk.download('wordnet')

country_1 = wn.synsets(raw_data["country"][0])
country_2 = wn.synsets(raw_data["country"][1])
country_3 = wn.synsets(raw_data["country"][4])
country_1
country_2
country_3
province_1 = wn.synsets(raw_data["province"][0])
province_1
province_3 = wn.synsets(raw_data["province"][3])
province_3

#wn.synset('united_states.n.01').path_similarity(wn.synset('spain.n.01'))
wn.path_similarity(province_3[0],province_1[0])
wn.wup_similarity(province_3[0],province_1[0])

wn.synsets('turkey')

wn.wup_similarity(wn.synset('india.n.01'),wn.synset('turkey.n.05'))

[Synset('united_states.n.01'),
 Synset('uracil.n.01'),
 Synset('uranium.n.01'),
 Synset('u.n.03')]

[Synset('spain.n.01')]

[Synset('france.n.01'), Synset('france.n.02')]

[Synset('california.n.01')]

[Synset('oregon.n.01')]

0.3333333333333333

0.9

[Synset('turkey.n.01'),
 Synset('turkey.n.02'),
 Synset('joker.n.02'),
 Synset('turkey.n.04'),
 Synset('turkey.n.05')]

0.1111111111111111